@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.heading-decoration {
  text-shadow: 0px 2px 0px #F7991E, 0px 4px 0px #FFD23E;
}

.case-studies-swiper {
	.swiper-slide {
		width: auto !important;
	}
}

.sticky-nav {
	position: fixed;
	top: 0;
	left: 0;
  }
